body {
  width: 800 px;
  height: 100%;
  margin: auto;
  text-align: center;
}
figcaption {
  font-size: smaller;
}
#details div{
  background-color: red;
  float: left;
  text-align: center;
  width: 25%;
}
nav a {
  text-align: center;
  padding: 10px;
  background-color: gray;
}
#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
  padding: 5px;
}